[
    {
        "service": "servcie1",
        "nodes":
            [
                {
                    "ip":"1.1.1.1",
                    "paths":["/var/log/product/service1/intance1/log/"]
                },
                {
                    "ip":"2.2.2.2",
                    "paths":
                        [
                            "/var/log/product/service1/intance1/log/",
                            "/var/log/product/service1/intance2/log/"
                        ]
                }

            ],
            "excepts":["log22"]
    },
    {
        "service": "servcie2",
        "nodes":
            [
                {
                    "ip":"1.1.1.1",
                    "paths":["/var/log/product/service2/intance1/log/"]
                },
                {
                    "ip":"2.2.2.2",
                    "paths":
                        [
                            "/var/log/product/service2/intance1/log/",
                            "/var/log/product/service2/intance2/log/"
                        ]
                }

            ],
            "excepts":["log22"]
    }
]